* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    
}
.main__page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.main__back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

/* Button */
.button__box {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30%;
    right: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button__text {
    font-size: 48px;
    color: white;
    position: absolute;
    z-index: 3;
    user-select: none;
}
.button__text-money,
.upgrade__error,
.upgrade__error-four {
    font-size: 55px;
    color: white;
    animation: money 1s linear;
    z-index: 2;
    position: absolute;
    user-select: none;
    opacity: 1;
    margin-top: 0px;
}
.upgrade__error {
    font-size: 30px;
    animation: money 2s linear;

}
.upgrade__error-four {
    font-size: 40px;
    margin-left: -170px;
}
.button__img {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Money */
.money__box {
    position: absolute;
    left: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 100;
}
.money__info {
    color: white;
    font-size: 50px;
}
.money__info-number {
    color: white;
    font-size: 50px;
}
/* Upgrade */
.upgrade__box {
    z-index: 10;
}
.upgrade__item,
.upgrade__item-2,
.upgrade__item-3,
.upgrade__item-4 {
    position: absolute;
    top: 18%;
    left: 5%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.upgrade__item-2 {
    left: 15%;

}
.upgrade__item-3 {
    left: auto;
    right: 15%;
}
.upgrade__item-4 {
    left: auto;
    right: 5%;
}
.upgrade__item-box {
    border: 2px solid lightseagreen;

}
.upgrade__item-box-2 {
    border: 2px solid blue;
}
.upgrade__item-box-3 {
    border: 2px solid darkmagenta;
}
.upgrade__item-box-4 {
    border: 2px solid rgb(168, 0, 0);
}
.upgrade__cost,
.upgrade__cost-2,
.upgrade__cost-3,
.upgrade__cost-4 {
    width: 144px;
    color: white;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    background: lightseagreen;
}
.upgrade__cost-2 {
    background: blue;
}
.upgrade__cost-4 {
    background: rgb(168, 0, 0);
}
.upgrade__cost-3 {
    background: darkmagenta;
}

.upgrade__info,
.upgrade__info-2,
.upgrade__info-3,
.upgrade__info-4 {
    color: white;
    font-size: 25px;
    width: 135px;
    margin: 15px 0 15px 0;
    user-select: none;
    text-align: center;
}
.upgrade__img-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.upgrade__img-box {
    width: 140px;
    height: 140px;
}
/* Upgrade three */
.gift {
    display: none;
}
.gift__text {
    font-size: 50px;
    color: white;
    animation: money 2s linear;
}
/* Upgrade four */
.upgrade__four-box {
    position: absolute;
    top: 30%;
    right: 15%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    z-index: 10;
    visibility: hidden;
}
.upgrade__four-animation {
    animation: cat-4 3s linear;

}
.upgrade__four-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upgrade__four-cooldown {
    font-size: 50px;
    color: white;
    display: none;
}

/* Light decoration */
.upgrade__light-box {
    position: absolute;
    top: 0;
    right: 44.5%;
    width: 200px;
    height: 430px;
    z-index: 20;
    visibility: hidden;
}
.light__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Upgrade lvl info */
.lvl__box, 
.lvl__box-2,
.lvl__box-3,
.lvl__box-4 {
    margin-top: -7px;
    width: 144px;
    height: 100px;
    left: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}
.lvl__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lvl__text,
.lvl__text-2,
.lvl__text-3,
.lvl__text-4 {
    color: white;
    font-size: 40px;
    z-index: 2;
    margin-bottom: -35px;
    position: absolute;
}
/* Shop in main__page */
.shop__box {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 2%;
    bottom: 3%;
    z-index: 51;
}
.shop__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.shop__box-text {
    color: white;
    font-size: 50px;
    margin-top: -250px;
}
/* Shop */
.shop {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
}
.shop__back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

/* Raid */
.attack {
    position: absolute;
    background: aqua;
    z-index: 10;
}
.raid__attack-vertical {
    height: 100%;
    width: 20px;
}
.raid__attack-horizontally {
    width: 100%;
    height: 20px;
}
.raid__warning-vertical {
    width: 2px;
    height: 100%;
    top: 0;
    background: goldenrod;
    position: absolute;
}
.raid__warning-horizontally {
    width: 100%;
    height: 2px;
    background: goldenrod;
    position: absolute;
    
}
.raid__text {
    font-size: 200px;
    color: white;
    position: absolute;
    top: 5%;
    right: 39%;
    visibility: hidden;
    animation: raid 2s linear infinite;
}
@keyframes money {
    0% {
        margin-top: -70px;
    }
    70% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        margin-top: -300px;
        display: none;
    }
    100% {
        margin-top: -1000px;
    }

}
@keyframes cat-4 {
    5% {
        transform: rotate(25deg);
    }
    50% {
        right: 100%;
    }
    50.1% {
        right: -15%;
    }
    100% {
        right: 15%;
    }
}
@keyframes raid {
    0% {
        color: white;
    }
    33% {
        color: red;
    }
    66% {
        color: blue;
    }
    100% {
        color: white;
    }
}

